/* You can add global styles to this file, and also import other style files */
@import "../src/assets/styles/global";
html,
body {
  height: 100%;
  margin: 0;
  .slick-slider {
    margin: auto;
    background: rgb(14, 13, 13);
  }

  .slick-prev,
  .slick-next {
    height: 30px;
    width: 30px;
    background: grey !important;
    z-index: 10;
  }
}

.test-font-light {
  @include font-light;
}

.test-font-regular {
  @include font-regular;
}

.test-font-bold {
  @include font-bold;
}
