:host {
  width: 100%;
}

.header-cotainer {
  height: 100%;
}

.nav-container__list {
  height: 100%;
}

.mat-list-item {
  color: #000;
}

.header-icon {
  background-color: #f0f6fc;
  color: black;
  border-radius: 45%;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
}

.profile:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover {
  visibility: visible;
  opacity: 1;
}
