@font-face {
  font-family: OpenSans-light;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: OpenSans-regular;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: OpenSans-bold;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: OpenSans-italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
}

// semiBold font face
